@import url("https://fonts.googleapis.com/css?family=Poppins");
@tailwind base;
@tailwind components;
@tailwind utilities;
*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  caret-color: transparent;
}
input,textarea{
  caret-color: black;
}
/* start header native css */
.login-register-link > a {
  text-decoration: none;
  color: #999999;
}
.login-link,
.register-link {
  transition: 0.5s ease;
  cursor: pointer;
}
.login-link:hover,
.register-link:hover {
  color: black;
}
header span {
  color: #999999;
}
header img {
  width: 47px;
}
.mainHeader {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
}
header h3 {
  font-size: 25px;
  margin: 0 0 0 10px;
}
.site-logo {
  display: flex;
  align-items: center;
}
/* end header native css */



/* start nav bar native css */

.menu{
  display: none;
}
nav > a {
  text-decoration: none;
  color: #999999;
  font-size: 16px;
}
.drop-item {
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  color: white;
}
.drop-item:hover {
  font-weight: bold;
  color:#00b207;
}
header nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto; /* 2 rows */
  text-align: center;
  background-color: #333333;
  padding: 25px 5px;
  gap: 10px;
  color: #999999;
  transition: 0.8s ease;
}
.nav-item {
  max-height: 24px;
  position: relative;
  transition: 0.5s ease;
  caret-color: transparent;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
.expanded{
  max-height: none;
}
.nav-item:hover{
  color:#00b207;
}
/* start nav bar native css */


/* start footer native css */
@media only screen and (max-width: 1200px) {
  footer .left-side,
  .footer-end {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  footer .left-side,
  .footer-end {
    width: 100%;
  }
}
footer {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
ul {
  list-style: none;
}
li {
  margin: 15px 0;
}
.left-side p {
  margin: 7px 0;
}
footer h3,
footer h5,
footer h6 {
  color: white;
}
footer p,
footer a {
  color: #999999;
  font-size: 13px;
  line-height: 1.8;
}
footer a , .footer-end .fa{
  cursor: pointer;
  text-decoration: none;
}
footer a:hover{
  color:#00b207;
}
footer img {
  width: 30px;
  margin-right: 10px;
}
.footer-content {
  display: flex;
  gap: 45px;
  flex-wrap: wrap;
}
footer .left-side {
  width: 300px;
}
.logo {
  display: flex;
  align-items: center;
}
.left-side h6 {
  width: fit-content;
  padding-bottom: 5px;
  margin-bottom: 15px;
  margin-top: 20px;
  border-bottom: solid 1px #00b207;
}
.footer-end {
  border-top: solid 1px #999999;
  width: 62.8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
}
.footer-end .fa {
  margin: 0 10px;
  color: #999999;
}
.footer-end p {
  font-size: smaller;
}
/* end footer native css */





/* start login and register native css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 600px;
  padding: 30px;
  border-radius: 11px;
  box-shadow: 0px 1px 9px 4px rgba(0, 0, 0, 0.05);
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form > input {
  margin-top: 15px;
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.login-form > input:focus {
  outline: none;
}

.login-form > input {
  border-radius: 8px;
  height: 50px;
  padding-left: 20px;
}
.login-form > input::placeholder {
  font-size: 17px;
}
.login-container h1 {
  font-size: 45px;
  color: #787878;
  font-weight: 600;
}
.login-container p {
  color: #666666;
  text-align: center;
  margin-top: 30px;
}
.login-container a {
  margin-left: 5px;
  font-weight: 600;
  color: #1a1a1a;
  cursor: pointer;
}
.login-form > button {
  background-color: #ff8c38;
  border: none;
  cursor: pointer;
  border-radius: 60px;
  height: 55px;
  font-size: 19.71px;
  margin-top: 22px;
  color: white;
  transition: 0.8s;
  font-family: "Inter", sans-serif;
}
.login-form > button:hover{
  transform: scale(1.01);
}
.login-form > button:disabled {
  background-color: #aaaaaa;
  cursor: not-allowed;
}
.red {
  color: #cc0000;
}
/* end login and register native css */



/* start home native css */

.home-page-container{
  margin: 45px auto;
  width:75% ;
}
.shop-ads{
  background-image: url("./images/sales-poster.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius:10px;
  padding:15% 0 30px 30px;
  position: relative;
  color: white;
  margin-bottom: 10px;
}
.shop-ads h1{
  font-size: 35px;
  color: white;
  margin: 0 0 25px;
  font-weight: 600;
  padding: 0;
}
.offer-details{
  border-left: solid 1px #84D187;
  padding-left: 10px;
  margin-bottom: 30px;
}
.offer-details span{
  margin: 0 0 0 10px;
  background-color: #FF8A00;
  padding: 5px 15px;
  border-radius: 7px;
  
}
.offer-details p{
  margin: 10px 0 ;
  color: #ffffffd1;
  font-weight:lighter;
  font-size: 14px;
}
.main-button{
  background-color: white;
  color: #00b207;
  font-weight: bold;
  border-radius: 50px;
  width: fit-content;
  margin:40px 0 0 0;
  padding: 10px 50px 10px 25px;
  font-size: 14px;
  transition: 0.8s ease;
  cursor: pointer;
}
.main-button:hover{
    background-color: #00b207;
    color: white;
    transform: scale(1.09); 
}
.service-feature{
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-gap: 15px;
  box-shadow: 5px 5px 10px #f7f7f7,
  -5px -5px 10px #ffffff;
  border-radius: 8px;
  padding: 30px 0;
  place-items: center;
}
@media (min-width:642px) and (max-width: 1160px) {
  .service-feature {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    
  }
}
@media screen and (max-width: 642px) {
  .service-feature {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    
  }
}
.feature{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.feature-text{
  width:180px;
}
.feature-text h4{
  font-weight: bold;
  width: 100%;
  font-size: 15px;
  padding: 0;
  margin: 0 0 5px 0;
}
.feature-text p{
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.feature i{
  width: 40px;
  display: block;
  text-align: left;
  color: #00b207;
}
.home-page-container > h3{
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
}
.latest-articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 20px;
}


@media screen and (max-width: 768px) {
  .latest-articles {
    grid-template-columns: repeat(auto-fit, minmax(auto-fit, 1fr));
  }
}
.card {
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  max-height: 350px;
  transition: 0.4s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}
.card:hover{
  background-color: #1a1a1a0a;
  transform: scale(1.02);
}
.article-cover {
  width: 100%;
  height: 53%;
  border-radius: 8px 8px 0 0;
}

.article-info {
  position: relative;
  padding: 12px;
}

.article-info h3 {
  margin-bottom: 10px;
}

.article-info a {
  color: #00b207;
}
.article-date{
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px 10px;
  bottom: 116%;
  left: 5%;
  font-weight: bold;
  border-radius: 4px;
}

.article-date span{
  font-weight: normal;
  color: #808080;
  font-size: 13px;
}
.article-details{
  font-size: 13px;
  font-weight:100;
  color: #4D4D4D;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.article-details .article-icon{
  margin-right: 3px;
}
.article-details h3{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-title{
  font-size: 14px;
  font-weight: bold;
}
.article-read{
  font-weight: bold;
  font-size: 14px;
}
/* end home page native css*/

.article-container{
  width: 100%;
  padding: 30px 0;
  background-color: #CCC9C3;
}
.article{
  position: relative;
  background-color: #E6E6E6;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 150px;
  border-radius: 8px;
}
.article-name{
  font-size: 45px;
  font-weight: bold;
  color: #2D3748;
  text-transform: uppercase;
}

.article-author{
  display: flex;
  width: 100%;
  text-align: left;
  margin-bottom: 17px;
}
.article-author h3:nth-child(1){
  color: #2D3748;
  font-weight: bold;
  margin: 0 10px 0 0;
}
.article-author h3:nth-child(2){
  color: #718096;
  font-weight: normal;
}
.section-header {
  font-weight: bold;
  width: 100%;
  margin-bottom: 10px;
}

.scroll-to-top{
  background-color: #FF8A00;
  color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 3%;
  right: 3%;
  text-align: center;
  padding: 10px;
  width: 50px;
  height: 50px;
  transition: 0.5s ease;
  cursor: pointer;
}
.scroll-to-top:hover{
  transform: scale(1.04);
}